.main{
    height: 100%;
    width: 100%;
    background-color: #171c24;
    padding-top: 1px;
}
.title{
    display: flex;
    align-self: center;
    justify-content: center;
    user-select: none;

    font-size: 1.5rem;
    color: white;
    text-align: center center justify;
    text-justify: distribute-all-lines;
    margin-left: 1rem;
    padding: 1rem;
}
.initialDivisor{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.principaltext{
    user-select: none;
    width: 100%;
    font-size: 1rem;
    color: white;
    text-align: start left justify;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-justify: distribute-all-lines;
    margin-left: 1rem;
    padding: 1rem;
}
.primerCerdoImg{

    user-select: none;
    height: 20%;
    width: 20%;
    font-size: 1rem;
    color: white;
    text-align: start left justify;
    margin-left: 1rem;
    padding-right: 20rem;
}
.firstContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.containerSon{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #6e0000;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 1px 0px black;
}
.containerSon p{
    display: flex;
    flex-direction: column;
}
.containerSonTwo{
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}
.secondText{
    user-select: none;
    width: 100%;
    font-size: 1rem;
    color: white;
    text-align: start center justify;
    text-justify: distribute-all-lines;
    margin-left: 1rem;
    padding: 1rem;
}
.secondPigImg{

    user-select: none;
    height: 20%;
    width: 20%;
    font-size: 1rem;
    color: white;
    text-align: start left justify;
    margin-left: 1rem;
    padding-left: 20rem;
}
hr {
    border: none;
    height: 1px;
    background: transparent; /* Cambia esto al color que quieras */
}
