.main{
    height: 100%;
    width: 100%;
    background-color: #171c24;
    padding-top: 1px;
}
.title{
    display: flex;
    align-self: center;
    justify-content: center;
    user-select: none;
    font-size: 1.5rem;
    color: white;
    text-align: center center justify;
    text-justify: distribute-all-lines;
    margin-left: 1rem;
    padding: 1rem;
}
.initialDivisor{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.principaltext{
    user-select: none;
    width: 100%;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem;
}

.firstContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.containerSon{
    display: flex;
    justify-content: space-around;
    width: 99.84%;
    height: 100%;
    background-color: #6e0000;
    border: 1px solid black;
    box-shadow: 1px 10px 1px 0px black;
    margin-bottom: 1rem;
}
.containerSon p{
    display: flex;
    flex-direction: column;
}
.containerSonTwo{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
    box-shadow: 0px 10px ;
    background-color: transparent;
    filter: blur(0px);
    padding-bottom: 1rem;
}
.containerSonTwo::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: white;
    filter: blur(1px);
    background-image: url("https://www.beckandbulow.com/cdn/shop/articles/Untitled-design-132-page-001-min-scaled_2560x.jpg?v=1678886725");
    background-size: cover;
    background-position: center;
}

.secondText{
    user-select: none;
    width: 100%;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem;
}
.secondPigImg{

    user-select: none;
    height: 20%;
    width: 20%;
    font-size: 1rem;
    color: white;
    text-align: start left justify;
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}
.containerSonThree{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
    box-shadow: 0px 10px ;

}

.pietrainPig{
    height: 20%;
    width: 20%;
    user-select: none;
}
.durocPig{
    height: 20%;
    width: 20%;
    user-select: none;
}
.breedPigs{
    width: 40%;
    border-radius: 20px;
    user-select: none;
}
hr {
    border: none;
    height: 1px;
    background: transparent; /* Cambia esto al color que quieras */
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 20rem;
    border: 1px solid #fff;
    background-color: #6e0000;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: all ease-in 0.2s;
}
.categories:hover{
    background-color: #fff;
    color: #6e0000;
    transition: all ease-in 0.2s;
    border: 3px solid #6e0000;
}