.fatherContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 30rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #111;
}
.sonContainer{
    border-radius: 10px;
    margin-left: 20px;
    width: 50%;
}
.onClickForm{
    height: 100%;
    width: 100%;
}